.main_grid_container {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 1300px;
}

.first_column {
    background-color: #F5F5F5;
    box-shadow: 5px 10px 8px #888888;
}

.name {
    color: #708090;
    font-size: 250%;
    font-weight: 600;
}

.desc {
    color: #708090;
    font-size: 130%;
    margin-top: 20px;
}

.head1 {
    margin-top: 20px;
    color: #696969;
    font-size: 160%;
    font-weight: 600;
    box-shadow: 5px 10px #D3D3D3;
}

.edu_details {
    color: #708090;
    font-size: 130%;
}

.det1 {
    color: #696969;
    font-weight: 700;
}

.det3 {
    color: #696969;
    font-size: 90%;
}

.second_column {
    background-color: #DCDCDC;
    margin-left: 20px;
    box-shadow: 5px 10px 8px #888888;
}

hr {
    border-top: 2px solid;
}

.main_flex {
    display: flex;
    justify-content: space-between;
}

.contact {
    color: #708090;
    font-size: large;
    margin-top: 10px;
    margin-right: 10px;
    height: 100px;
}

.inflex {
    display: flex;
    justify-content: space-between;
}

.phn {
    display: grid;
    grid-template-columns: auto auto;
    height: 20px;
    width: 200px;
}

.skills {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: fit-content;
    width: fit-content;
    margin-left: 10px;
}

.skill {
    display: flex;
    background-color: #F5F5F5;
    border: 1px solid #C0C0C0;
    padding: 10px;
    margin: 10px;
    width: fit-content;
    height: fit-content;
    box-shadow: 5px 10px #C0C0C0;
}

.det4 {
    color: #696969;
    font-size: 90%;
    border: 1px solid #696969;
    height: fit-content;
    width: fit-content;
    padding: 0.5em;
}

img {
    border-radius: 50%;
}